     <div >
      <div>
        <%= label_tag 'feature[technologies_to_add][]', 'Technologies'%>
      </div>
      <div >

        <% for technology in @technologies %>
          <%= check_box_tag 'feature[technology_ids][]',technology.id, @feature.technologies.include?(technology) %>
          <%= technology.name %>
        <% end %>
      </div>