<div class="white-card">

  <h1><%= @feature.title.upcase %></h1>
  <legend>
    What do you want on your first slide?
  </legend>
    <p class="lead">
      You are making a slideshow. A slide can have either a snippet of code or an image, such as a screenshot, of your webpage in action. You are encouraged to provide a description on every slide so that viewers can understand what you did and how the slides are related. For examples of slides see below or click here for a full <%= link_to 'Demo Project', Project.find(1), :target => "_blank", :class => "demo-project" %>.
    </p>
  <div class="clearfix"></div>

  <div class="controls">
    <ul class="horizontal">
      <li>
      <%= link_to "UPLOAD AN IMAGE", new_feature_upload_path(@feature), :class => "upload-image"%>
      </li>
      <li>
        <%= link_to "INSERT A CODE SNIPPET", new_feature_snippet_path(@feature), :class => "insert-snippet"%>
      </li>
    </ul>
  </div>

</div>


