<legend>
  What do you want on your first slide?
</legend>

<p>
  You are making a slideshow. A slide can have either a snippet of code or an image, such as a screenshot, of your webpage in action. You are encouraged to provide a description on every slide so that viewers can understand what you did and how the slides are related. For examples of slides see below or click here for a full <%= link_to 'Demo Project', Project.find(1) %>.
</p>
