
<h1><%= slide_prompt(@feature) %></h1>
<button id="gg-add-snippet" style="font-color:white"><%= link_to 'Code Snippet', new_feature_snippet_path(@feature), :class => "gg-erb-button" %></button>
<button id="gg-add-image"><%= link_to 'Image', new_feature_upload_path(@feature), :class => "gg-erb-button" %></button>