<div class="gg-feature-form">
	<h1 class="gg-lone-header"><%= slide_prompt(@feature) %></h1>
  <div class="container span6">
  <div class="top-account-control visible-desktop gg-wide-buttons">
      <!-- ACCOUNT TAB -->
      <%= link_to raw("<h3>Upload an Image</h3>"), new_feature_upload_path(@feature), :class => "top-create-account gg-inline-button"%>
      <%= link_to raw("<h3>Copy/Paste A Code Snippet</h3>"), new_feature_snippet_path(@feature), :class => "top-sign-in gg-inline-button"%>
    </div>
  </div>
</div>


