<div class="section-wrapper clearfix">

  <h3 class="section-header">Your Projects</h3>

  <% @user.projects.each do |project| %>

    <div class="span4">
      <div class="user-project">
        <%= link_to project.name.truncate(20), project_path(project) %>
        <%= project_image(project) %>
        <p><%= project.description.truncate(30) %></p>
      </div>
    </div>

  <% end %>

</div>