<% current_user_var = current_user %>

    <div class="blog-categories widget-tp">
<h3>
<!-- <i class="icon-th-list"></i> -->
Build a Project!
</h3>

<p>

Available Repos:
</p>

<ul>
 <% Repo.where(:user_id => page_user.id).each do |repo| %>
        <% if !is_project?(repo) %>
<li class="build-project-custom">
 <%= link_to repo.name.truncate(25), repo.html_url, id: "#{repo.name}", :target => "_blank" %>
         
</li>
 <i>
 <%= link_to " Build!", projects_path(:repo_id => repo.id), :method => :post, :"data-name" => "#{repo.name}", class:"icon-plus-sign" %>
 <div class="clearfix"></div>
 </i>   
   <% end %>
      <% end %>
</ul>
</div>



