<div class="control-group">
    <%= f.label :description, "Explain What You Did:", class: "control-label" %>
    <div class="controls">
    	<%= f.text_area :description, rows: "8", cols: "20" %>
	</div>
</div>