<div class="project-features-carousels-container">
  <div class="accordion" id="accordion2">

    <% project.features.each_with_index do |feature, index| %>
      <%= render :partial => "projects/partials/accordion-group", :locals => { :feature => feature } %>
    <% end %>

  </div>
  <%= link_to "Add a Feature", new_project_feature_path(project), :class => "top-create-account" if project.users.include?(current_user) %>
</div> <!-- project-features-carousels-container -->
