<h1>Gallery Members</h1>

<% @users.each do |user| %>
  <ul class="vcard">
    <li class="fn"><%= link_to "#{user.name.capitalize}", user %></li>
    <li class="email"><%= mail_to user.email %></li>
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: "Are you sure you want to delete #{user.name}?" } if current_user == user %></li>
  </ul>
<% end %>


<br />

<%= link_to 'Project List', projects_path %>


</ul>
