<div class="container">
  <div class="row-fluid">
    <h3 class="section-header">Projects: <%= @user.name.titleize %></h3>
    <ul class="thumbnails">
      <% @user.projects.each do |project| %>
      <li class="span3"> 
        <%= link_to_hidden_description(project) %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
