.gg-erb-button {
	color: white;
}

.gg-left-button{
	display: inline-block;
	float: left;
	margin-top: 5%;
	margin-left: 20%;
}

.gg-right-button{
	display: inline-block;
	float: right;
	margin-top: 5%;	
}

.gg-feature-form {
	display: block;
	clear: both;
	padding: 100px;
}

.gg-button-options {
	margin-bottom: 10%;
}

.gg-lone-header {
}

.gg-form-section {
	display: inline-block;
	float: left;
}

.shift-label-left {
	left-margin: 100px;
}

.shift-control-left {
	width: 110px;
}
<<<<<<< HEAD:app/assets/stylesheets/features/feature_creation.css.scss
=======

.gg-upload-description {
	width: 600px;
}

.feature-inline {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  span {
  	font-size: 30px;
  }
}
>>>>>>> master:app/assets/stylesheets/features/feature_creation.css.scss
