<div>
  <h3>Top Contributors</h3><a href="#">See all</a>
  <ul class="gallery-container">
    <% @project.users.uniq.take(4).each do |user| %>
    <li>
      <%= link_to (image_tag avatar_url(user)), user_path(user) %>
      <h4><%= link_to user.name, user_path(user) %></h4>
    </li>
    <% end %>
  </ul>
  
</div>