<div id="contributors">
  <h6>Contributors</h6>
  <ul class="inline">
    <% @project.users.uniq.take(4).each do |user| %>
      <li>
        <%= link_to (image_tag avatar_url(user), title: "#{user.name}", rel: 'tooltip', class: "img-circle"), user_path(user) %>
      </li>
    <% end %>
  </ul>

</div>