<h1 id="project-title">
<div class="activator-<%= @project.id %>-name">
  <%= best_in_place @project, :name, :type => :input, :activator => ".activator-#{@project.id}-name" %>
</div>
</h1>
<p>
<div class="activator-<%= @project.id %>-name">Edit</div>
</p>
