      <p>
        <div class="activator-<%= @project.id %>-description">
        <%= best_in_place @project, :description, :type => :input, :activator => ".activator-#{@project.id}-description" %></p>
      <p>
        <div class="activator-<%= @project.id %>-description">Edit</div>
      </p>