<section>
  <h3 id="features-title">Features</h3>
  <%= link_to 'New', new_project_feature_path(@project) %>

  <ul id="features" class="nav nav-tabs">
    <% @project.features.each do |feature| %>
    <li>
      <%= link_to feature.title, feature_path(feature), :class => "btn-navbar" %>
    </li>
    <% end %>

  </ul>
  
  <div class="tab-content">
    <% @project.features.take(1).each_with_index do |feat, index| %>
      <%= render partial: "feature_carousel", :locals => {:feature => feat, :i => index} %>
    <% end %>
  </div>
</section>