<div class="span12">
  <div class="span8">
    <div class="carousel slide over-something" id="homepage-carousel">
    <div class="carousel-inner slider-w carousel-contents">
      

      <%  first = features.last.slides_in_order.first  %>
        <div class="item active">
          <div class="span12 feature_carousel">
            <h1 class="slider-header"><%= first.name %></h1>
            <p class="slide-content"><%= first.description %></p>

          </div>
        </div>
      

      <%  features.last.slides_in_order.each do |slide|  %>
        <div class="item">
          <div class="span12 feature_carousel">
            <%= render :partial => "slide", :locals => {:slide_type => slide } %>
          </div>
        </div>
      <% end %>

      <a class="carousel-control left" data-slide="prev" href="#homepage-carousel">
        <i class="icon-chevron-left"></i>
      </a>
      <a class="carousel-control right" data-slide="next" href="#homepage-carousel">
        <i class="icon-chevron-right"></i>
      </a>
    </div>
    </div>
  </div>
  <div class="span4 carousel_sidebar">
    <%= render :partial => "carousel_sidebar", :locals =>
    {:feature => features.last} %>
  </div>
</div>