<div class="span12 feature-section">

  <div class="creator">
    <h3 id="features-title" class="section-header">Features</h3>
    <%= link_to 'New', new_project_feature_path(@project) %>
  </div>

  <div id="features-slide">
    <% @project.features.each_with_index do |feat, index| %>
      <div class="feature">
        <h2 class="feature-card-title"><%= feat.title %></h2>
      </div>
    <% end %>

  </div>

  <div class="container-fluid carousel_container">
  <div class="row-fluid">
    <%= render :partial => "feature_carousel", :locals => {:features => @project.features }%>
  </div>
  </div>
</div>
  
    

      

      

    
      


    