<div class="tab-pane active" id="feature<%= i %>">
  <%= link_to feature.title, feature_path(feature) %>
    Hi
  <%= feature.description %>
  
  <div id="featureSlideShow" class="carousel slide">
    <ol class="carousel-indicators">
      <% feature.slides_in_order.count.times do %>
        <li data-target="#featureSlideShow"></li>
      <% end %>
    </ol>

    <div class="carousel-inner">
      <% feature.slides_in_order.each do |slide| %>
        <%= render "slides" %>
      <% end %>
    </div>
  </div>
</div>
