<div class="carousel slide over-something" id="homepage-carousel">
  <div class="carousel-inner slider-w">
    

    <%  first = features.last.slides_in_order.first  %>
      <div class="item active">
        <div class="container">
          <h1 class="slider-header"><%= first.name %></h1>
          <p class="slide-content"><%= first.description %></p>
        </div>
      </div>
    

    <%  features.last.slides_in_order.each do |slide|  %>
      <div class="item">
        <div class="container">
          <h1 class="slider-header"><%= slide.name %></h1>
          <p class="slide-content"><%= slide.description %></p>
        </div>
      </div>
    <% end %>

    <a class="carousel-control left" data-slide="prev" href="#homepage-carousel">
      <i class="icon-chevron-left"></i>
    </a>
    <a class="carousel-control right" data-slide="next" href="#homepage-carousel">
      <i class="icon-chevron-right"></i>
    </a>
  </div>
</div>
