<section>
  <h3 id="features-title">Features</h3>
  <%= link_to 'New', new_project_feature_path(@project) %>


  <ul id="features" class="nav nav-tabs">
    <% @project.features.each do |feature| %>
    <li>
      <%= link_to feature.title, feature_path(feature), :class => "btn-navbar" %>
    </li>
    <% end %>

  </ul>
  <div class="tab-content">
    <% @project.features.each_with_index do |feature, index| %>
      <%= render "feature_carousel", :locals => {:feature => feature, :index =>index} %>
    <% end %>  
  </div>
</section>