<section class="hero-unit">


  <h1 id="project-title"><%= @project.name %></h1>


  <div class="hero_tags">
    <%= render "tech_tags" %>
  </div>
  

  <div id="project-description">
    <h3>Description</h3>
    <p><%= @project.description %></p>
  </div>

  <div>
    <%= render "contributors" %>
  </div>
  

</section>