<h6 class="slider-header"><%= snippet.name %></h6>
  <div class="snippet-description">
    <p>hi</p>
    <p><%= snippet.description %></p>
  </div>
  
  <div>
    <%= raw Pygments.highlight(snippet.code, lexer: snippet.language) %>
  </div>