<h1 class="slider-header"><%= snippet.name %></h1>
  <div class="snippet-description">
    <p><%= snippet.description %></p>
  </div>
  
  <div>
    <%= raw Pygments.highlight(snippet.code, lexer: snippet.language) %>
  </div>