<div id="tech-tags">
  <h5>Tech Tags</h5>
  <ul>
  <% @project.features.each do |feature| %>
    <% feature.technologies.each do |tech| %>
    <%= link_to tech.name, "/technologies/#{tech.name}" %> |
    <% end %>
  <% end %>
  </ul>
</div>