<div>
  <ul>
    <% @project.features.each do |feature| %>
      <% feature.technologies.each do |tech| %>
        <%= link_to tech.name, "/technologies/#{tech.name}" %> |
      <% end %>
    <% end %>
  </ul>
</div>