<div id="tech-tags">
  <h4>Tech Tags</h4>
  <ul class="gg-list-inline">
  <% @project.features.each do |feature| %>
    <% feature.technologies.each do |tech| %>
    <li><%= link_to tech.name, "/technologies/#{tech.name}"  %></li>
    <% end %>
  <% end %>
  </ul>
</div>