<div class="container user_show">
  <div class="row-fluid span12">
    <section class="span12 user_gallery">
      <h3 class="section-header">Projects</h3>
      <ul class="thumbnails">
        <% @projects.each do |project| %>
          <li class="span4"> 
            <div class="gallery-project">
              <%= link_to_hidden_description(project) %>
            </div>
          </li>  
        <% end %>
      </ul>
    </section>
  </div>
</div>