<h1>Listing Projects</h1>


<div>
  <% @projects.each do |project| %>
    <div>
      <%= link_to_project_image(project) %>
      <div>
        <p>
          <% project.users.uniq.each do |user|%>
            <%= link_to "#{user.name}", user_path(user) %> 
          <% end %>
        </p> 
      </div>
    </div>
  <% end %>
</div>

<br />
<br />
<br />

<div>
  <%= link_to 'Add A New project', new_project_path %>
</div>

<br />
<br />
<br />





