<div class="row">
  <div class="span12">
    <h1>Listing Projects</h1>
    
    <ul class="gallery-container">
    <% @projects.each do |project| %>
      <li>
        <%= link_to_project_image(project) %>
          <h3><%= project.name %></h3>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<%= link_to 'Add A New project', new_project_path, :class => "btn" %>
