<p id="notice"><%= notice %></p>
<div class="creator">
  <%= link_to 'Edit', edit_project_path(@project) if current_user%>
</div>
<%= render "projects/hero/hero" %>

<%= render "projects/features/features" %>

