  <div class="hero-inline">
    <%= best_in_place feat, :title, :type => :input, :activator => ".activator-#{feat.id}-title" %>
  </div>
  <div class="activator-<%= feat.id %>-title"><i class="hero icon-pencil"></i></div>
</div>

