
  <div class="feature-inline">
    <%= best_in_place feat, :title, :type => :input, :activator => ".activator-#{feat.id}-title" %>
  </div>

<i class="activator-<%= feat.id %>-title hero icon-pencil"></i>


