<ul class="inline tech">
  <% @project.technologies.each do |tech| %>
    <li><%= tech.name %><li>
  <% end %>
  <% @project.features.each do |feature| %>
    <% feature.technologies.each do |tech| %>
   <!--  <div class="span6"> -->
      <li> <%= link_to image_tag(tech.icon_url, title: "#{tech.name}", rel: 'tooltip')  %> </li>
   <!-- </div> -->
    <% end %>
  <% end %>
</ul>