#edit_form_name,
#edit_form_image,
#edit_form_text_area {

  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#edit_project_white_card {
	float: none !important; 
	margin-left: auto;
	margin-right: auto;
}