
<%= label_tag 'feature[technologies_to_add][]', 'Technologies', class: "control-label" %>
<div class="controls">
<% for technology in @technologies %>
  <%= check_box_tag 'feature[technology_ids][]',technology.id, @feature.technologies.include?(technology) %>
  <%= technology.name %>
<% end %>
</div>

<select data-placeholder="Your Favorite Types of Bear" multiple="" class="chzn-select chzn-done" style="width: 350px; display: none;" tabindex="-1" id="multiple-label-example">
            <option value=""></option>
            <option>American Black Bear</option>
            <option>Asiatic Black Bear</option>
            <option>Brown Bear</option>
            <option selected="">Giant Panda</option>
            <option>Sloth Bear</option>
            <option>Sun Bear</option>
            <option>Polar Bear</option>
            <option>Spectacled Bear</option>
          </select>


<div class="chzn-container chzn-container-multi chzn-container-active" style="width: 350px;" title="" id="multiple_label_example_chzn"><ul class="chzn-choices"><li class="search-choice"><span>Giant Panda</span><a class="search-choice-close" data-option-array-index="4"></a></li><li class="search-choice"><span>Asiatic Black Bear</span><a class="search-choice-close" data-option-array-index="2"></a></li><li class="search-field"><input type="text" value="Your Favorite Types of Bear" class="" autocomplete="off" style="width: 25px;" tabindex="18"></li></ul><div class="chzn-drop"><ul class="chzn-results"><li class="active-result" style="" data-option-array-index="1">American Black Bear</li><li class="result-selected" style="" data-option-array-index="2">Asiatic Black Bear</li><li class="active-result" style="" data-option-array-index="3">Brown Bear</li><li class="result-selected" style="" data-option-array-index="4">Giant Panda</li><li class="active-result" style="" data-option-array-index="5">Sloth Bear</li><li class="active-result" style="" data-option-array-index="6">Sun Bear</li><li class="active-result" style="" data-option-array-index="7">Polar Bear</li><li class="active-result" style="" data-option-array-index="8">Spectacled Bear</li></ul></div></div>
