// Styles for the carousel on the Project Show Page.
// Carousel-main is the main container that has
// carousel-slides and carousel-sidebar divs.

///////////////////// MAIN //////////////////////////
.carousel-control {
  font-size: 50px;
  top: 25px;
}

.carousel-main {
  height: 550px;
  background-color: black;
  background-image: url("binding_dark.png");
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.span12.item1 {
  margin-left: 0;
}
///////////////////// SIDEBAR ///////////////////////
.carousel-sidebar {
  border-left: 1px solid #538187;
  h2, h5, p, em, li {
    color: white;
  }
  li {
     list-style: none; 
    }
}

.bottom-sidebar {
  height: 328px;
  padding: 20px 20px 0 20px;
}

.top-sidebar {
  text-align: center;
  height: 200px;
  width: 100%;
  display:inline-block;
  border-bottom: 1px solid #538187;
  a{
    color: white;
  }
  img {
    margin: 10px;
  }
}
///////////////////// SLIDES ////////////////////////
.carousel-slides {
  width: 800px;
  h2 {
    color: white;
    text-align: center;
    // border-bottom: 2px solid #5c8a87;
  }
}
