.hero_contrib {
}

#contribs-slide {
  width: 100%;
  overflow-x: auto;
  overflow-wrap: scroll;
  white-space: nowrap;
}

.contrib {
  padding: 1.5% 1.5% 1.5% 3%;

  display: inline-block;
  width: 5%; // CHANGE THIS TO CHANGE WIDTH OF FEATURE BOX
   a{ 
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(.7); /* Google Chrome & Safari 6+ */
  }
   a:hover {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome & Safari 6+ */
  }
}

.contribs-title h6 {
  padding-left: 3%;
}
