

#features-title {
  display: inline;
  padding-right: 0;
}

#features-slide {
  padding: 0;
  margin: 0;

  background-color: #f2ffee;
  width: 100%;
  overflow-x: auto;
  overflow-wrap: scroll;
  white-space: nowrap;
}

.feature {
  padding: 0;
  border: none;
  background-color: #CCC9B4;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
  width: 27%; // CHANGE THIS TO CHANGE WIDTH OF FEATURE BOX
  height: 70px;
  vertical-align: bottom;
}

.feature h2, h3 {
  margin-left: 20px;
  font-weight: 400;
  // color: #FFFFFF; micah changed!!!
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

input#search {
  margin-top : 7px;
  padding : 0px 5px;
  width : 150px;
  height : 25px;
}

.creator {
  h3{
    margin-top: 17px;
  }
}

.navbar-inner {
  padding: 0px;
  height: 20px;
}

.feature h2 {
  cursor: pointer;
}

.selected {
  border: none;
  background-color: #343838;
  // border-bottom: 3px solid #cb3120;
  h2 {
    color: white;
  }
}

.login-box {
  text-align: center;
  .icon-github {
    font-size: 1.7em;
  }
}

.top-create-account {
/*  background-color: #538187 !important;*/
  /*jennifer changed */
}

.icon-cog {
  color: white;
  font-size: 1.3em;
  padding: 0 5px;
}

.top-account-control {
  width: 250px;
}

.slides-custom {
  padding: 100px
}

.picture-slide-size {
  height: 700px
}

.pager-custom {
  float:left
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #538187;
  background-color: white;
}

.btn-primary-green:hover,
.btn-primary-green:focus,
.btn-primary-green:active,
.btn-primary-green.active,
.btn-primary-green.disabled,
.btn-primary-green[disabled] {
  color: black;
  background-color: #538187;
  *background-color: #26869c;
}

.gg-button-container {
  width: 1000px;
}

.gg-multiple-buttons {
  display: inline-block;
  float: right;
}

.buttons-with-margins {
  margin: 30px;
}



.gg-notice {
  padding-top: 20px;
}

.gg-project-hero-title {
  display: inline-block;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
  float: left;
}

.gg-project-edit {
  float:right;
  padding-top: 50px;
}

.techs {
  font-size: 20px;
  margin-left: 100px;
}

.gg-project-tabs-custom {
  background-color: #cff5ff;
}

.gg-project-show-description-custom {
  color: #FFFFFF;
}