.breadcrumb {
  // position: fixed;
  display: inline-block;
}

#features-title {
  display: inline;
  padding-right: 1%;
}

#features-slide {
  width: 100%;
  overflow-x: auto;
  overflow-wrap: scroll;
  white-space: nowrap;
}

.feature {
  padding: 10px;
  background-color: #f8f9f4;
  -webkit-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  -moz-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  margin-bottom: 20px;
  background-color: #fafbf7;
  background-image: -moz-linear-gradient(top, #f8f9f4, #fdfdfb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f9f4), to(#fdfdfb));
  background-image: -webkit-linear-gradient(top, #f8f9f4, #fdfdfb);
  background-image: -o-linear-gradient(top, #f8f9f4, #fdfdfb);
  background-image: linear-gradient(to bottom, #f8f9f4, #fdfdfb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f9f4', endColorstr='#fffdfdfb', GradientType=0);
  display: inline-block;
  width: 27%; // CHANGE THIS TO CHANGE WIDTH OF FEATURE BOX
  height: 120px;
  vertical-align: bottom;
  margin-top: 20px;
}

.feature h2 {
  font-weight: 400;
  color: #31302e;
  // margin-top: 0px;
  // margin-bottom: 10px;
  // padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

input#search {
  margin-top : 7px;
  padding : 0px 5px;
  width : 150px;
  height : 25px;
}
