.gg-project-thumb img{
	height: 200px;
	width: 200px;
}

.gg-erb-button {
	color: white;
}

.gg-left-button{
	display: inline-block;
	float: left;
}

.gg-right-button{
	display: inline-block;
	float: right;
}