.gg-erb-button {
	color: white;
}

.gg-left-button{
	display: inline-block;
	float: left;
}

.gg-right-button{
	display: inline-block;
	float: right;
}

.gg-feature-form {
	display: block;
	clear: both;
	padding-top: 50px;
	padding-left: 100px;
}

.gg-lone-header {

}

.gg-form-section {
	display: inline-block;
	float: left;
}