body, .breadcrumbs {
  background-color: #f2f2f2;
}

label.right {
  padding-right: 10px;
}

ul.breadcrumbs {
  // background-color: white;
  border: none;
  margin-top: -30px;
}

li.fn a {
  color: #222222;
  text-decoration: none;
}

ul.gg-list {
  list-style: none;
}
ul.gg-list-inline li{
  list-style: none;
  display: inline-block;
  padding: 25px;
}

h1.gg-head, h2.gg-head {
  font-size: 2em;
  margin-bottom: 0px;
  b {
    color: #2ba6cb;
  }
}

h2.gg-head {
  font-size: 1.75em;
  margin-top: 0;
  margin-left: 20px;
}

div.gg-edit {
  padding-top: 7px;
}
div.gg-div {
  width: 750px;
  overflow: auto;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
}

p.gg-p {
  margin-left: 20;
}

div.gg-snippets {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

div.panel {
  border: none;
}

div.gg-mini {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding-left: 7px;
  width: 95px;
}

p.no-wrap {
  white-space: nowrap;
}

//customized panel 
.gg-panel {
  height: 50px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 11px 1px;
  font-size: 70%;
  background-color: #c4dae5;
}

#gg-projects {
  display: block;
  float: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

div.gg-imgplace {
  width: 40%;
  margin: 15px;
  float: left;
  display: inline;
}

// div.gg-sidebar {
//   background-color: #c3c3e5;
//   position: absolute right;
//   height: auto;
// }

div.container {
 padding: 0 5%;
}

#project-description {
  margin: 5em 0;
  text-align: center;
}

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#tech-tags {
  padding-left: 7.5%;
  display: inline;
  text-align: center;
}

#contributors {
  text-align: center;
  background-color: #d2dfe0;
}

div.project-iframe {
  display: inline-block;
  max-height: 300px;
  max-width: 300px;
  border: solid 10px white;
}

////////////////////////////
// Project's Feature List //
////////////////////////////
.project-feature {
  background-color: #c3c3e5;
  padding: 0 3%;
  border: solid 2px black;
}

.project-feature-image {
  height: auto;
  width: 250px;
  padding: 10px;
  display: inline-block;
}

.project-feature-description {
  text-align: center;
}

.project-feature-title {
  float: left;
}

.project-feature-user-name {
  float: right;
}

#contributors h3 {
  text-shadow: 1px 1px grey;
}

#project-title {
  display: inline;
  padding-right: 10px;
}

#features-title {
  display: inline;
}

#new-feature {
  text-align: right;
}

#destroy-link {
  text-align: right;
}