$darkgrey: #2E353F;
$orange: #DA3B26;
$midtonegrey: #808080;
$lightgrey: #C9C9C9;
$white: #FFFFFF;

$background: $white;
$link_color: $orange;
$main_font_color: $darkgrey;
$light: $lightgrey;

body {
  background-color: $background;
}

.navbar-inverse .navbar-inner {
  background-color: $background;
  background-image: none;
  border-color: $background;
  box-shadow: none;
}

.top-account-control > a.top-sign-in {
  background-color: $background;
  color: $main_font_color;
}

.top-account-control > a.top-create-account {
  background-color: $orange;
  border: 1px solid $main_font_color;
  color: $background;
}

.top-account-control > a:hover {
  background-color: $background;
  border: 1px solid $background;
  color: $main_font_color;
}

.bs-docs-example {
  margin-top: 40px;
  background-image: none;
  background-color: $orange;
  box-shadow: none;
  border: 5px solid $main_font_color;
  color: $white;
}

.section-wrapper {
  background-color: $background;
  background-image: none;
}

 .blog-categories ul li a {
  background-color: $background;
  box-shadow: none;
  color: $light;
 }

.blog-categories ul li a:hover {
  color: $main_font_color;
  border-left: 15px solid $orange;
}
.active_repo {
  color: $main_font_color !important;
}

.blog-categories {
  color: $main_font_color;
  h3 {
    color: $main_font_color;
  }
}
// .gg-project-tabs-custom {
//   background-color: $background;
// }

