$darkgrey: #2E353F;
$orange: #DA3B26;
$midtonegrey: #808080;
$lightgrey: #C9C9C9;
$white: #FFFFFF;

$background: $white;
$link_color: $orange;
$main_font_color: $darkgrey;
$light: $lightgrey;

body {
  background-color: $background;
}

.navbar-inverse .navbar-inner {
  background-color: $background;
  background-image: none;
  border-color: $background;
  box-shadow: none;
}

.top-account-control > a.top-sign-in {
  background-color: $background;
  color: $main_font_color;
}

.top-account-control > a.top-create-account {
  background-color: $orange;
  border: 1px solid $main_font_color;
  color: $background;
}

.top-account-control > a:hover {
  background-color: $background;
  border: 1px solid $background;
  color: $main_font_color;
}

  ////////////////////
 // User Pages     //
////////////////////

.bs-docs-example {
  margin-top: 40px;
  background-image: none;
  background-color: $orange;
  box-shadow: none;
  border: 5px solid $main_font_color;
  color: $white;
}

.section-wrapper {
  background-color: $background;
  background-image: none;
}

 .blog-categories ul li a {
  background-color: $background;
  box-shadow: none;
  color: $light;
 }

.blog-categories ul li a:hover {
  color: $main_font_color;
  border-left: 15px solid $orange;
}
.active_repo {
  color: $main_font_color !important;
}

.blog-categories {
  color: $main_font_color;
  h3 {
    color: $main_font_color;
  }
}
  ////////////////////
 // Project Pages  //
////////////////////

.section-wrapper .section-header {
  border-bottom: 3px solid $orange;
  box-shadow: none;
  color: $main_font_color;
}

  ////////////////////
 // Landing Page   //
////////////////////

#layout_instructions {
  background-color: $light;
  border: 5px solid $main_font_color;
  position: fixed;
  top: 35%;
  bottom: 1%;
  margin-left: 17%;
  width: 65%;
  overflow-y: hidden;
  overflow: scroll;
  p {
    padding: 0 5%;
    font-family: arial;
    font-size: 1.3em;
    line-height: 1.2em;
    color: $main_font_color;
  }
}

#layout_instructions_caption {
  text-align: center;
}

#wellcome_message {
  background-color: $orange;
  border: 5px solid $main_font_color;
  width: 100%;
  position: fixed;
  top: 8.5%;
   h1 {
    text-align: center;
    color: $main_font_color;
    padding: 50px;
  }
}

.landing h1 strong {
  border-bottom: 5px solid $background;
}

.landing a {
  color: $background;
  text-decoration: none;
}
