.clearfix {
  clear: both;
}

#hero-description {
  color: white;
  margin-bottom: 0;
}

.hero-unit {
  background-color: grey;
  background-image: url("binding_dark.png");
  height: 20%;
  border-radius: 0;
  padding: 3%;
  padding-top: 3.2%;
  padding-bottom: 1%;
}

.tech li a{
  padding-right: 25px;
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(.7); /* Google Chrome & Safari 6+ */
}

.tech li a:hover{
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome & Safari 6+ */
}



