<div class="gg-button-container">
  <div class="buttons-with-margins">
    <div class="gg-multiple-buttons">
      <%= submit_tag "I'm Done With This Feature", :class => "btn btn-primary btn-primary-green"%>
    </div>
    <div class="gg-multiple-buttons next-slide">
      <%= submit_tag "Next Slide", :class => "btn btn-primary btn-primary-white" %>
      <input name="next_state" type="hidden" value="false" />
    </div>
  </div>
</div>