  <div class="actions next-slide">
    <%= submit_tag "Next Slide", :class => "button gg-left-button" %>
    <input name="next_state" type="hidden" value="false" />
  </div>
  <div class="actions">
    <%= submit_tag "I'm Done With This Feature", :class => "button gg-right-button" %>
  </div>