// CSS for the user show page is here

.user_show {  
 margin: 0;
 width: auto;
}

.user_gallery_explain {
  padding: 20px;
  
  p {
    margin-right: 150px;
    font-size: 1.5em;
    line-height: 1.3em;
  }
}

.gallery-project-title-card {
  margin-top: 20px;
}

.user_gallery {
  h3 {
    color: #538187;
    text-align: center;
  } 

  .thumbnails {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.gallery-project {
  // background-color: #dbeaf4;
  // border: 2px solid white;
  height: 200px;
  display: table-cell; 
  vertical-align: middle;
  text-align: center;
  img {
    width: 175px;
    height: auto;
  }
  li {
    margin-bottom: 20px;
  }
}
 

.user_repo {

  background-color: #538187;
  h3, h5 {
    padding-left: 20px;
    color: white;

  }
  h4{
    line-height: 1.25em;
    a {
      color: #dbeaf4;
      text-decoration: none;
    }
    a:hover {
      color: #0E1A1C;
    }
  }
  li{
    list-style: none;
  }
  .icon-plus-sign {
    color: white;
    margin-right: 50px;
  }
}

.active_repo {
  color: #0E1A1C !important;
}

.right-push {
  margin-top: 50px;
  margin-left: 250px;
}
