<a href="/assets/theme_venera/photos/photo-card-big-1.png" class="thumbnail with-content" data-rel="lightbox[gallery]"><img alt="Photo-card-big-1" src="/assets/theme_venera/photos/photo-card-big-1.png">
<div class="thumbnail-hover-w">
<div class="thumbnail-hover-title">Thumbnail Title</div>
<div class="thumbnail-hover-text">Praesent magna turpis, tincidunt quis fringilla sit amet, fringilla vel eros. Nullam mi mi, convallis id vestibulum ut, volutpat ut risus. In iaculis augue vel magna aliquet posuere.</div>
</div>
</a>



<a href="/projects/1" class="thumbnail with-content" data-rel="lightbox[gallery]" html_info="&lt;div class=&quot;thumbnail-hover-w&quot;&gt;
    &lt;div class=&quot;thumbnail-hover-title&quot;&gt; self.name &lt;/div&gt;
    &lt;div class=&quot;thumbnail-hover-text&quot;&gt;  self.description &lt;/div&gt;
    &lt;/div&gt;"><img alt="Flat_ruby" src="/assets/flat_ruby.png"></a>