<h1 class="gg-head">Editing: <%= @feature.title %></h1>

<div class="small_12"><%= render 'edit_form' %></div>
<div class="clearfix"></div>
<div class="small_12"><%= link_to 'Back', @feature %></div>

