<section class="section-wrapper stripped">
  <div class="container">
    <div class="row">
      <div class="span12 project-title-custom">
        <div class="white-card no-padding just-white">
          <legend>
            Start a New Slideshow Feature for <%= @project.name %>
          </legend>
        </div>
      </div>
    </div>
  </div>
</section>





