<div class="slide-creation-1">
	<div><%= render 'features/new_form_partials/main_form' %></div>
	<div class="span3 offset1 btn btn-primary submit"><%= link_to "Back to #{@project.name}", @project %></div>
</div>

