<ul class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li><span class="divider"> /</span>
  <li><%= link_to "Features", users_path %></li><span class="divider"> /</span>
  <li><%= link_to "Users", users_path %></li><span class="divider"> /</span>
  <li><%= link_to "Technologies", users_path %></li><span class="divider"></span>
</ul>