<div class="span12">
  <ul class="breadcrumb">
    <li class="hidden-phone"><%= link_to "Projects", projects_path %></li>
    <li><%= link_to "Features", users_path %></li>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Technologies", users_path %></li>
  </ul>
</div>
