<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "Git Gallery", projects_path %></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
        <li>
          <% if logged_in? %>
          <%= link_to 'My Homepage', user_features_path(current_user) %>
          <% end %>
        </li>
      <li class="divider"></li>
        <li>
          <%= link_to 'Find People', users_path %>
        </li>
      <li class="divider"></li>
      <li><%= login_logout %></li>

    </ul>
  </section>
</nav>