<header id="header">
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a>
					<%= link_to "Git Gallery", projects_path, :class => "brand" %>
				</a>
				<div class="nav-collapse subnav-collapse pull-right collapse" id="top-navigation">
					<%= render "layouts/navigation_bar_buttons" %>
				</div>
			</div>
		</div>
	</div>
</header>
